<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ingreso" icon="arrow-back" text="" slot="start"></ion-back-button>
      <ion-title>Registro de Usuario</ion-title>
      <img src="assets/img/mob3.jpg" alt="Logo" class="header-logo" (click)="goToHome()">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registroForm" (ngSubmit)="register()">
    <!-- Nombre Completo -->
    <ion-item>
      <ion-input type="text" label="Nombre Completo" labelPlacement="floating" formControlName="nombreCompleto"
                 placeholder="Ingresa tu nombre"></ion-input>
    </ion-item>

    <!-- RUT -->
    <ion-item>
      <ion-input label="Rut" labelPlacement="floating" type="text" formControlName="rut"
                 placeholder="Ingrese RUT sin puntos y guión"></ion-input>
    </ion-item>


    <!-- Correo Electrónico -->
    <ion-item>
      <ion-input type="email" label="Correo" labelPlacement="floating" formControlName="email"
                 placeholder="Ingresa tu correo"></ion-input>
    </ion-item>

    <!-- Nombre de Usuario -->
    <ion-item>
      <ion-input type="text" label="Nombre Usuario" labelPlacement="floating" formControlName="nombreUsuario"
                 placeholder="Ingresa tu nombre de usuario"></ion-input>
    </ion-item>

    <!-- Contraseña -->
    <ion-item>
      <ion-input type="password" label="Contraseña" labelPlacement="floating" formControlName="password"
                 placeholder="Ingresa tu contraseña"></ion-input>
    </ion-item>

    <!-- Botón de registro -->
    <ion-button expand="full" color="primary" type="submit" [disabled]="registroForm.invalid">
      Registrarse
    </ion-button>
  </form>
</ion-content>
